<div class="container">
  <h1>Edit this Post</h1>
  <%= simple_form_for(@post, local: true) do |form| %>
    <%= form.error_notification %>
    <!-- other post fields -->
    <div class="form-inputs">
      <%= form.input :title %>
      <%= form.input :subtitle %>
      <%= form.input :content %>
      <%= form.association :category, collection: Category.order(:name), prompt: "Select an existing category or create a new one" %>
      <%= form.input :new_category_name, label: "New Category Name", required: false %>
      <% if current_user.admin? %>
        <%= form.input :public, as: :radio_buttons %>
      <% end %>
    </div>
    <div class="form-actions">
      <%= form.button :submit, class: "pagination-btn fw-bold" %>
    </div>
  <% end %>
  <%= link_to "Back to all Posts", posts_path, class: "pagination-btn fw-bold" %>
  <%= link_to "Back to this Post", post_path(@post), class: "pagination-btn fw-bold" %>
</div>
