<div class="container p-5 my-3">
  <div class="d-flex flex-column">
    <p class="category-badge ms-2 align-self-end text-end"><%= link_to "\##{@post.category.name}", posts_by_category_path(@post.category) %></p>
    <h1 class="fw-bold"><%= @post.title %></h1>
    <h2 class="fs-3"><%= @post.subtitle %></h2>
    <h3 class="text-end fst-italic fs-6">Published at <%= @post.date.strftime('%b %d, %Y')%></h3>
    <p class="text-start"><%= simple_format(@post.content) %></p>
    <div class="text-center"><i class="fa-solid fa-ellipsis"></i></div>
    <ul class="list-inline">
      <% if user_signed_in? %>
        <li class="list-inline-item"><%= link_to "Back to all Posts", posts_path, class: "pagination-btn fw-bold" %></li>
      <% else %>
        <li class="list-inline-item"><%= link_to "Back to all Posts", index_path, class: "pagination-btn fw-bold" %></li>
      <% end %>
      <% if policy(@post).edit? %>
        <li class="list-inline-item"><%= link_to "Update this Post", edit_post_path(@post), class: "pagination-btn fw-bold" %></li>
        <li class="list-inline-item"><%= link_to "Delete this Post", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "pagination-btn fw-bold" %></li>
      <% end %>
    </ul>
  </div>
</div>
